<h1>Add Event</h1>

<form method="post">
    <label for="name">Name</label>
    <input name='name' type="text" />

    <label for="description">Description</label>
    <input name='desc' type="text" />

    <input type="submit" value="Add Event" class="btn btn-primary" />
</form>